---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const year = new Date().getFullYear();

import icoGithub from "../assets/images/ico_github--white.svg";
import icoLinkedin from "../assets/images/ico_linkedin--white.svg";
---

<footer class="footer">
  <p class="footer__copyright caption--xs">
    {t('footer.adress_1')}<br>
    {t('footer.adress_2')}<br>
    {year} · {t('footer.rights')}.
  </p>
  <div class="footer__social">
    <a href="https://www.linkedin.com/in/olivaresp/" target="_blank" rel="noopener">
      <img
        class="footer__ico"
        src={icoLinkedin.src}
        width={icoLinkedin.width}
        height={icoLinkedin.height}
        alt="Icono LinkedIn"
      />
    </a>
    <a href="https://www.github.com/olivaresp" target="_blank" rel="noopener">
      <img
        class="footer__ico"
        src={icoGithub.src}
        width={icoGithub.width}
        height={icoGithub.height}
        alt="Icono Github"
      />
    </a>
  </div>
</footer>
