---
import logo from "../assets/images/logo_ao--white.svg";
import icoBars from "../assets/images/ico_bars--white.svg";
---

<nav class="main-nav">
  <div class="main-nav__logo-container">
    <a href="/">
      <img
        class="main-nav__logo"
        src={logo.src}
        width={logo.width}
        height={logo.height}
        alt="Logo Andrés Olivares"
      />
    </a>
  </div>
  <div class="main-nav__pres">
    <p class="main-nav__pres-name">ANDRÉS</p>
    <p class="main-nav__pres-role">FRONT-END DEV</p>
  </div>
  <div class="main-nav__options">
    <img
      class="main-nav__menu-icon"
      src={icoBars.src}
      width={icoBars.width}
      height={icoBars.height}
      alt="Icono de menú"
    />
  </div>
</nav>
