---
import { Image } from 'astro:assets';
import Modal from './Modal.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import sampleIlegal from '../assets/images/portfolio-samples/sample_ilegal.jpg';
import sampleAcademia from '../assets/images/portfolio-samples/sample_academia.jpg';
import sampleVina from '../assets/images/portfolio-samples/sample_vina.jpg';
import sampleAtix from '../assets/images/portfolio-samples/sample_atix.jpg';

import brandAstro from "../assets/images/brands/brand-astro.svg";
import brandFigma from "../assets/images/brands/brand-figma.svg";
import brandHeroku from "../assets/images/brands/brand-heroku.svg";
import brandJs from "../assets/images/brands/brand-js.svg";
import brandNode from "../assets/images/brands/brand-node.svg";
import brandRails from "../assets/images/brands/brand-rails.svg";
import brandVercel from "../assets/images/brands/brand-vercel.svg";
import brandVue from "../assets/images/brands/brand-vue.svg";
import brandWordpress from "../assets/images/brands/brand-wordpress.svg";
---

<section class="portfolio">
  <div class="works">
    <a class="work">
      <div class="work__top"> 
        <!-- <div class="brands">
        <div class="brand">
          <img
              src={brandWordpress.src}
              width={brandWordpress.width}
              height={brandWordpress.height}
              alt="Brand Wordpress"
            />
          </div>
          <div class="brand">
            <img
              src={brandFigma.src}
              width={brandFigma.width}
              height={brandFigma.height}
              alt="Brand Figma"
            />
          </div>
          <div class="brand">
            <img
              src={brandJs.src}
              width={brandJs.width}
              height={brandJs.height}
              alt="Brand Js"
            />
          </div>
        </div> -->
      </div>
      <Image class="work__thumbnail" src={sampleIlegal} alt="Thumbnail Fiesta Ilegal" />
      <div class="work__data">
        <div class="work__data-titles">
          <h4 class="work__data-year">{t('work.ilegal.year')}</h4>
          <h3>{t('work.ilegal.title')}</h3>
        </div>
        <div class="form__actions">
          <div class="btn btn--sm open-modal" data-modal="1">{t('action.view-more')}</div>
        </div>
      </div>
    </a>

    <a class="work">
      <div class="work__top">
        <!-- <div class="brands">
          <div class="brand">
            <img
              src={brandVue.src}
              width={brandVue.width}
              height={brandVue.height}
              alt="Brand Vue"
            />
          </div>
          <div class="brand">
            <img
              src={brandNode.src}
              width={brandNode.width}
              height={brandNode.height}
              alt="Brand Node"
            />
          </div>
          <div class="brand">
            <img
              src={brandFigma.src}
              width={brandFigma.width}
              height={brandFigma.height}
              alt="Brand Figma"
            />
          </div>
          <div class="brand">
            <img
              src={brandHeroku.src}
              width={brandHeroku.width}
              height={brandHeroku.height}
              alt="Brand Heroku"
            />
          </div>
        </div> -->
      </div>
      <Image class="work__thumbnail" src={sampleAcademia} alt="Thumbnail Academia" />
      <div class="work__data">
        <div class="work__data-titles">
          <h4 class="work__data-year">{t('work.academia.year')}</h4>
          <h3>{t('work.academia.title')}</h3>
        </div>
        <div class="form__actions">
          <div class="btn btn--sm open-modal" data-modal="2">{t('action.view-more')}</div>
        </div>
      </div>
    </a>
    
    <a class="work">
      <div class="work__top">
        <!-- <div class="brands">
          <div class="brand">
            <img
              src={brandAstro.src}
              width={brandAstro.width}
              height={brandAstro.height}
              alt="Brand Astro"
            />
          </div>
          <div class="brand">
            <img
              src={brandVercel.src}
              width={brandVercel.width}
              height={brandVercel.height}
              alt="Brand Vercel"
            />
          </div>
          <div class="brand">
            <img
              src={brandFigma.src}
              width={brandFigma.width}
              height={brandFigma.height}
              alt="Brand Figma"
            />
          </div>
        </div> -->
      </div>
      <Image class="work__thumbnail" src={sampleVina} alt="Thumbnail Viña del Mar" />
      <div class="work__data">
        <div class="work__data-titles">
          <h4 class="work__data-year">{t('work.vina.year')}</h4>
          <h3>{t('work.vina.title')}</h3>
        </div>
        <div class="form__actions">
          <div class="btn btn--sm open-modal" data-modal="3">{t('action.view-more')}</div>
        </div>
      </div>
    </a>
    
    <a class="work">
      <div class="work__top">
        <!-- <div class="brands">
          <div class="brand">
            <img
              src={brandRails.src}
              width={brandRails.width}
              height={brandRails.height}
              alt="Brand Rails"
            />
          </div>
          <div class="brand">
            <img
              src={brandHeroku.src}
              width={brandHeroku.width}
              height={brandHeroku.height}
              alt="Brand Heroku"
            />
          </div>
        </div> -->
      </div>
      <Image class="work__thumbnail" src={sampleAtix} alt="Thumbnail Atix" />
      <div class="work__data">
        <div class="work__data-titles">
          <h4 class="work__data-year">{t('work.atix.year')}</h4>
          <h3>{t('work.atix.title')}</h3>
        </div>
        <div class="form__actions">
          <div class="btn btn--sm open-modal" data-modal="4">{t('action.view-more')}</div>
        </div>
      </div>
    </a>
  </div>
  <div class="scroll-indicator">
    <div class="scroll-indicator__content">
      <div class="scroll"></div>
    </div>
  </div>
</section>

<Modal id="1" title={t('work.ilegal.title')}>
  <hr>
  <p class="caption">{t('work.role')}</p>
  <h4>{t('work.ilegal.role')}</h4>
  <hr>
  <Image class="work__thumbnail" src={sampleIlegal} alt="Thumbnail Fiesta Ilegal" />
  <hr>
  <div class="work-tags">
    <div class="tags">
      <div class="tag">
        {t('tag.skills.wordpress-development')}
      </div>
      <div class="tag">
        {t('tag.skills.ux-ui-Design')}
      </div>
      <div class="tag">
        {t('tag.skills.figma')}
      </div>
      <div class="tag">
        {t('tag.skills.web-maintenance')}
      </div>
      <div class="tag">
        {t('tag.skills.seo-optimization')}
      </div>
    </div>
  </div>
  <hr>
  <div class="work-description">
    <p>{t('work.ilegal.description')}</p>
  </div>
</Modal>

<Modal id="2" title={t('work.academia.title')}>
  <hr>
  <p class="caption">{t('work.role')}</p>
  <h4>{t('work.academia.role')}</h4>
  <hr>
  <Image class="work__thumbnail" src={sampleAcademia} alt="Thumbnail Academia" />
  <hr>
  <div class="work-tags">
    <div class="tags">
      <div class="tag">
        {t('tag.skills.vue-js-development')}
      </div>
      <div class="tag">
        {t('tag.skills.ux-ui-Design')}
      </div>
      <div class="tag">
        {t('tag.skills.node-js')}
      </div>
      <div class="tag">
        {t('tag.skills.google-services')}
      </div>
      <div class="tag">
        {t('tag.skills.heroku-deployment')}
      </div>
    </div>
  </div>
  <hr>
  <div class="work-description">
    <p>{t('work.academia.description')}</p>
  </div>
</Modal>

<Modal id="3" title={t('work.vina.title')}>
  <hr>
  <p class="caption">{t('work.role')}</p>
  <h4>{t('work.vina.role')}</h4>
  <hr>
  <Image class="work__thumbnail" src={sampleVina} alt="Thumbnail Viña del Mar" />
  <hr>
  <div class="work-tags">
    <div class="tags">
      <div class="tag">
        {t('tag.skills.astro-build-development')}
      </div>
      <div class="tag">
        {t('tag.skills.ux-ui-Design')}
      </div>
      <div class="tag">
        {t('tag.skills.seo-optimization')}
      </div>
      <div class="tag">
        {t('tag.skills.vercel-hosting')}
      </div>
      <div class="tag">
        {t('tag.skills.information-architecture')}
      </div>
    </div>
  </div>
  <hr>
  <div class="work-description">
    <p>{t('work.vina.description')}</p>
  </div>
</Modal>

<Modal id="4" title={t('work.atix.title')}>
  <hr>
  <p class="caption">{t('work.role')}</p>
  <h4>{t('work.atix.role')}</h4>
  <hr>
  <Image class="work__thumbnail" src={sampleAtix} alt="Thumbnail Atix" />
  <hr>
  <div class="work-tags">
    <div class="tags">
      <div class="tag">
        {t('tag.skills.front-end-development')}
      </div>
      <div class="tag">
        {t('tag.skills.ux-ui-Design')}
      </div>
      <div class="tag">
        {t('tag.skills.javascript')}
      </div>
      <div class="tag">
        {t('tag.skills.ruby-on-rails')}
      </div>
      <div class="tag">
        {t('tag.skills.devops')}
      </div>
    </div>
  </div>
  <hr>
  <div class="work-description">
    <p>{t('work.atix.description')}</p>
  </div>
</Modal>

<script>
  // Script para manejar la apertura y cierre de modales
  document.addEventListener('astro:page-load', () => {
    const openButtons = document.querySelectorAll('.open-modal');
    const closeButtons = document.querySelectorAll('.modal .close');
    const modals = document.querySelectorAll('.modal');

    openButtons.forEach(button => {
      button.addEventListener('click', () => {
        const modalId = button.getAttribute('data-modal');
        const modal = document.getElementById(modalId);
        modal.style.display = 'block';
      });
    });

    closeButtons.forEach(button => {
      button.addEventListener('click', () => {
        const modal = button.closest('.modal');
        modal.style.display = 'none';
      });
    });

    window.addEventListener('click', (event) => {
      modals.forEach(modal => {
        if (event.target === modal) {
          modal.style.display = 'none';
        }
      });
    });
  });
</script>