---
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslatedPath, getRouteFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url) || '';
const translatePath = useTranslatedPath(lang);

// Images
import logo from "../assets/images/logo_ao--white.svg";
---
<nav class="main-nav">
  <div class="main-nav__logo-container">
    <a href={translatePath('/')}>
      <img
        class="main-nav__logo"
        src={logo.src}
        width={logo.width}
        height={logo.height}
        alt="Logo Andrés Olivares"
      />
    </a>
  </div>
  <div class="main-nav__pres">
    <p class="main-nav__pres-name">ANDRÉS</p>
    <p class="main-nav__pres-role">FRONT-END DEV</p>
  </div>
  <div class="main-nav__options">
    <div class="lang-selector">
      <button class="lang-button" id="langButton">{lang}</button>
      <ul class="langs" id="langMenu">
        {Object.entries(languages).map(([keyLang, label]) => (
          keyLang !== lang && (
            <li class="lang">
              <a href={translatePath(`/${route}`, keyLang)}>{label}</a>
            </li>
          )
        ))}
      </ul>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const langButton = document.getElementById('langButton');
    const langMenu = document.getElementById('langMenu');

    langButton.addEventListener('click', function(event) {
      event.stopPropagation();
      langMenu.classList.toggle('show');
    });

    langMenu.addEventListener('click', function(event) {
      event.stopPropagation();
      langMenu.classList.remove('show');
    });

    document.addEventListener('click', function() {
      langMenu.classList.remove('show');
    });
  });
</script>